 html{
     scroll-behavior: smooth;
 }

 *{ margin: 0; padding: 0; box-sizing: border-box; }

 a{text-decoration: none;}
 a:hover{text-decoration: none;}
 li{list-style: none;}

 p{
     font-size: 0.9rem;
     line-height: 1.6;
     font-weight: 400;
     color: #606060;
 }

 .extra-div h2, .skills-div h2{
     font-size: 0.9rem;
     font-weight: bold;
     margin: 20px 0 15px 0;
     line-height: 1.1;
     word-spacing: 4px;
 }

 i{
     color: #239496;
 }

 .navbar{
     background: linear-gradient(rgba(0,168,255,0.3),rgba(0,168,255,0.3));
     position: fixed;
     top: 0;
 }

.menu-toggle{
    color: #fff;
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

 .header{
     width: 100%;
     height: 100vh;
     background-image: linear-gradient(rgba(0,168,255,0.3),rgba(0,168,255,0.3)), url("https://i.imgur.com/TrarhR8.jpg");
     background-repeat: no-repeat;
     background-size: 100% 100%;   
     clip-path: polygon(100% 0, 100% 75%, 50% 100%, 0 75%, 0 0);
     position: relative;
 }

 .header:before{
     content:"";
     position: absolute;
     top: 0%;
     bottom: 0%;
     left: 0;
     right: 0;
     opacity: 0.3;
     z-index: -1;
     background-color: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
 }

 .navbar:before {
    content:"";
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0;
    right: 0;
    opacity: 0.3;
    z-index: -1;
    background-color: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
 }

 .nav-item a{
     color: #fff!important;
     font-weight: bold;
 }

 .logo img {
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
  }
  
  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
  }

 .header-section{
     width: 100%;
     height: inherit;
     color: white;
     text-align: center;
     position: relative;
 }

 .center-div{
     width: 100%;
     height: auto;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     -ms-transform: translate(-50%, -50%);
     -webkit-transform: translate(-50%, -50%);
 }

.header-button a{
     border: 1px solid #fff;
     border-radius: 100px;
     margin: 0 5px;
     padding: 12px 35px;
     outline: none;
     color:#fff;
     font-size: 1rem;
     font-weight: 400;
     line-height: 1.4;
     text-align: center;
}

.header-button a:hover{
    color: #50d1c0;
    background:#fff;
    text-decoration: none;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}

.center-div p{
    font-size: 1.3rem;
    padding: 10px 0 20px 0;
    color: #fff;
}

.header-extradiv{
    width: 100%; 
    height: auto;
    margin: 100px 0px;
    text-align: center;
}

.extra-div{
    background:#fff;
    border: medium none;
    border-radius: 3px;
    padding: 50px!important;
    transition: 0.3s;
}

.extra-div:hover{
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
    transform: translateY(-20px);
}

.skills{
    background: #f7f7f9;
    padding: 50px 0;
    margin-bottom: 50px;
}

.headings{
    margin-bottom: 50px;
}

.headings{
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
}

.names h1{
    color: 2e2e2e;
    font-size: 0.9rem;
    text-transform:uppercase;
    font-weight: bold;
}  

.skills-icons{
    display:flex;
    justify-content:center;
    align-items: center;
}

.progress{
    background: #606060;
    height: 0.6rem!important;
    margin-bottom: 25px!important;
}

.project-work{
    margin: 100px 0;
}

.project-work h1{
    font-size: 2rem;
    text-align: center;
}

.pricing{
    width: 100%;
    height: 100vh;
    padding: 50px;
    position: relative;
    margin-bottom: 30px;
}

.pricing:before{
    content:"";
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0;
    right: 0;
    z-index: -1;
    background: linear-gradient(170deg, #16c9f6 55%, #fff 0);
 }

 .dollar{
     font-size: 40px;
     line-height: 1;
     color: #606060;
 }

 .card{
     transition: 0.4s ease;
 }

 .card-header{
     font-size: 1.6rem;
     font-weight: bold;
     padding: 15px 0!important;
     background: #f7f7f9!important;
 }

 .card-body{
     padding: 30px 0px!important;
 }

 .card-body li{
     font-size: 15px;
     font-weight: 400;
     line-height: 1.6;
     margin: 10px 0px;
     color: #606060;
 }

 .card-footer{
     background: #f7f7f9!important;
     padding: 30px 0px!important;
 }

 .card-footer a{
    border: 1px solid #50d1c0;
    border-radius: 100px;
    margin: 0 5px;
    padding: 12px 35px;
    outline: none;
    color:#50d1c0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
}

.card:hover .card-footer a{
   color:#fff;
   background:#50d1c0;
   text-decoration: none;
   box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}

.card:hover{
    transform: translateY(-20px);
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}

.card:hover .card-header, .card:hover .dollar{
    color: #50d1c0;
}

.card-second{
    transform: translateY(-20px);
}

.happyclients{
    width: 100%;
    height: 100vh;
    padding: 80px 0;
    background: #f7f7f9;
}

.box{
    text-align: center;
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.3);
    border-radius: 2px;
    transition: 0.3s ease;
    background: #fff;
}

.box:hover{
    background: #6ddefa;
}

.box:hover p{
    color: #fff;
}

.carousel-indicators{
    position: absolute;
    right: 0;
    bottom: -60px!important;    
}

.carousel-indicators li{
    background: #16c9f6!important;
}

.box a{
    position: relative;
}

.box p{
    margin-left: 10px;
    margin-right: 10px
}

.box a img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 20px;
}

.box a:after{
    content: "\f10d";
    font-family: FontAwesome;
    width: 40px;
    height: 40px;
    background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
    color: #fff;
    position: absolute;
    top: 120%;
    left: 70%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box h1{
    font-size: 18px;
    font-weight: 700;
    color: #000;
    margin-bottom: 10px;
}

.box h2{
    font-size: 13px;
    font-weight: 400;
    color: #666666;
    margin-bottom: 20px;
}

.contactus{
    width: 100%;
    height: 100vh;
    padding: 80px 0;
    position: relative;
}

.contactus:before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(330deg, #16c9f6 55%, #fff 0) ;
    z-index: -1;
}

.form-button button{
    border: 1px solid #fff;
    border-radius: 100px;
    margin: 0 5px;
    padding: 12px 35px;
    outline: none;
    color:#fff;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
    background: transparent;
}

.form-button button:hover{
    color: #50d1c0;
}

.form:hover .form-button button{
    background: #fff;
    color: #50d1c0;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}

::placeholder{
    font-size: 0.85rem;
}

.footersection{
    width: 100%;
    height: auto;
    padding: 70px 0 20px 0;
    position: relative;
    background: #f6f6fd;
}

.copyright{
    margin-top: 120px;
    margin-bottom: 10px;
    text-align: center;
}

.social-menu ul{
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0;
    margin-top: 50px;
    transform: translate(-50%, -50%);
    display: flex;
}

.social-menu ul li{
    list-style: none;
    margin: 0 15px;
}

.social-menu ul li .fa{
    font-size: 30px;
    line-height: 60px;
    transition: 0.6s;
    color: #000;
}

.social-menu ul li .fa:hover{
    color: #fff;
}

.social-menu ul li a{
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #fff;
    text-align: center;
    transition: 0.6s;
    box-shadow: 0 5px 4px rgba(0,0,0,0.5);
}

.social-menu ul li a:hover{
    transform: translate(0, -10px);
}

.social-menu ul li a:hover i{
    transform: scale(1.4);
}

.social-menu ul li:nth-child(1) a:hover{
    background: #3b5999;
}

.social-menu ul li:nth-child(2) a:hover{
    background:linear-gradient(130deg, #3cbcf8, #e4405f, #ff523b, #ff5);
}

.social-menu ul li:nth-child(3) a:hover{
    background: #55acee;
}

.social-menu ul li:nth-child(4) a:hover{
    background: #dd4b39;
}

.social-menu ul li:nth-child(5) a:hover{
    background: #3b5996;
}

#myBtn{
    display: none;
    bottom: 20px;
    right: 40px;
    z-index: 99;
    border: none;
    color: #fff;
    background: #16c9f6;
    position: fixed;
    padding: 10px;
    border-radius: 10px;
}

#myBtn:hover{
    background: #606060;
}


/************************************************media queries***********************************************/

@media(max-width:768px){

    .nav-item{
        text-align: center!important;
    }

    .menu-toggle{
        display: block;
    }

    .pricing, .happyclients, .contactus{
        height: auto;
        margin-top: 50px;
    }

    .card-second{
        transform: translateY(0px);
        margin:30px 0;
    }

    .contactus p{
        padding: 0 50px;
    }

}
